[user]
	name = Len Garvey
  # email = lengarvey@bottledup.net
  email = 724914+lengarvey@users.noreply.github.com
  # public privacy
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID8wcRW/Iq/6eAY+4t+5cuE+rn+k+AP17ntsgA/lcVOy
[includeIf "gitdir:~/dev/rea/"]
    path = ~/dev/rea/.gitconfig
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[hub]
	host = git.realestate.com.au

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
